<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for booking the ticket from our site </h1>
    <p>
      You have successfully booked your ticket,
      
    </p>
    
    <p>Have a great day!.Looking forward to see you again.</p>
  </body>
</html>
